<div class="p-6 bg-white rounded-lg shadow-lg max-w-md mx-auto">
  <div class="mb-4">
    <h1 class="text-3xl text-gray-900 font-semibold leading-tight mb-4">
      Lampadas:
    </h1>
  </div>

  <div class="flex flex-col space-y-4 my-4">
    <p>
      Você está em uma sala com três interruptores, cada um conectado a uma
      lâmpada em salas diferentes. Você não pode ver as lâmpadas da sala em que
      está, mas pode ligar e desligar os interruptores quantas vezes quiser. Seu
      objetivo é descobrir qual interruptor controla qual lâmpada. Como você
      faria para descobrir, usando apenas duas idas até uma das salas das
      lâmpadas, qual interruptor controla cada lâmpada?  
    </p>

    <p class="text-gray-600 text-base mb-2">
      Primeiramente, escolho uma dos interruptores para ligar previamente e
      aguardo 5 minutos antes de desligar. Após os 5 minutos, desligo o mesmo e
      ligo algum dos outros interruptores. Dessa forma, posso ir até uma das
      outras salas e descobrir um dos interruptores, já que foram criadas 3
      situações distintas (aceso, apagado e quente, frio e apagado).
    </p>

    <p class="text-gray-600 text-base mb-2">
      Na segunda ida posso simplesmente ignorar o interruptor que já
      identifiquei, acender um dos outros e andar até uma das outras salas, onde
      encontrarei uma lâmpada ligada ou desligada, identificando os dois outros
      interruptores.
    </p>
  </div>
</div>
